extends layout

block content
	h1 Login
	form(action='/login', method='post')
		label Email: 
		input(type='text', name='email')
		label Pass: 
		input(type='password', name='pass')
		button Submit
	form(action='/new', method='post')
		label Email: 
		input(type='text', name='email')
		label Pass: 
		input(type='password', name='pass')
		button(type='submit') Register