doctype 5
html
	head
		title Mean Login
		block scripts
			link(href='/public/css/normalize.css', rel='stylesheet', type='text/css')
			link(href="/public/less/style.less", rel="stylesheet/less", type="text/css")
			script(src='/public/js/less.js', type="text/javascript")
	body
		block content
